name: Publish

on:
  push:
    paths:
      - '!apps/**'
      - '!.gitignore'
      - '!LICENSE'
      - '!README.md'
    branches:
      - main

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    # Don't run on forks by default.
    # Don't run on the first run after creating from template. (run_number == 1).
    if: |
      github.repository == 'amandaguthrie/template-pnpm-typescript-monorepo' && 
      github.run_number != 1
    name: Release
    permissions:
      id-token: write
      contents: read
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install
        uses: ./.github/composite-actions/install

      - name: Build packages
        run: pnpm build

      - name: Publish packages
        id: changesets
        uses: changesets/action@v1
        with:
          publish: pnpm release
        env:
          # Use OIDC for npm authentication instead of NPM_TOKEN
          NPM_TOKEN: '' # https://github.com/changesets/changesets/issues/1152#issuecomment-3190884868
          GITHUB_TOKEN: ${{secrets.GH_PAT}}

      - name: Release to dev tag
        if: steps.changesets.outputs.published != 'true'
        run: |
          git checkout main
          pnpm release:dev:version
          pnpm release:dev:publish
        env:
          # Use OIDC for npm authentication instead of NPM_TOKEN
          NPM_TOKEN: '' # https://github.com/changesets/changesets/issues/1152#issuecomment-3190884868
          GITHUB_TOKEN: ${{secrets.GH_PAT}}